<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MyConnString" connectionString="Data Source=DESKTOP-3V9GV36;Initial Catalog=LMSDB;User ID=sa;Password=Awizom@123"/>
    <add name="LMSDBEntities" connectionString="metadata=res://*/LMSDB.csdl|res://*/LMSDB.ssdl|res://*/LMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3V9GV36;initial catalog=LMSDB;user id=sa;password=Awizom@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LMSDB2018Entities"  connectionString="metadata=res://*/LMSDB.csdl|res://*/LMSDB.ssdl|res://*/LMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3V9GV36;initial catalog=LMSDB;user id=sa;password=Awizom@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="sqlCon" value="Provider=sqloledb;Data Source=DESKTOP-3V9GV36;Initial Catalog=LMSDB;User ID=sa;Password=Awizom@123" />
    
      <add key="BackupFolder" value="D:/LMSDBBACKUP/"/>
   
  </appSettings>
  
  
</configuration>